.navbar {
     margin-top: 10%;
     position: fixed;
     background-color: #fff;
 }

 .aboutus {
     font-size: 2vw;
 }

 .navbar a {
     font-size: 2vw;
 } 

.image_cont{
     position: relative;
}

.img_abs{
    position: absolute;
    text-align: center;
    font-size: 30px;
    color:aliceblue;
     z-index: 1;
     top: 40%;
     left:5%
}

.toxic-img {
     height: 100%;
     width: 100%;
     /* background-color: #348ea7; */
     /* border-radius: 50%;
     padding: 5%; */
     border: none;
}

.round-img-cont {
     height: 100%;
     width: 100;
}


.dyn-img img {
     height: 100%;
     width: 100%;
}

.dyn-img {
     /* height: 100%; */
     width: 60vw;
}

.dyn-para {
     width: 60vw;
}

.dyn-para p {
     font-size: 2vw;
}

.broadline-cont {
   gap: 1%;  
}

.broadline-card {
     height: 100%;
     width: 100%;
}

.pen-container {
     width: 25vw;
}

.marker-container {
     width: 75vw;
}


/* -----------------------------------media query--------------------------*/

@media (max-width: 768px) {
     .main-broad-container {
          flex-direction: column;
     }

     .pen-container {
          transform: rotate(90deg);
          height: 100px;
          width: 100px;
          display: ;
     }

     .pen-container img {
          height: 300px;
          width: 300px;
          scale: 1;
          /* margin-left: 30%; */
          margin-top: -600px;
     }

     /* .pen-container img {
          transform: rotate(320deg);
          scale: 1;
          height: 235px;
          width: 234px;
     } */
     
     .marker-container {
          width: 100vw;
          padding: 0 2% 0 2%;
     }
}